{{ partial "header.html" . }}
{{/* partial "debug.html" . */}}
{{ partial "jumbotron.html" . }}

<div class="container-fluid no-gutter">
  <div id="top-banner" class="row banner-section" style="background-image:url('{{ .Site.BaseURL}}/img/top-banner.jpg')">
    <div class="all-center"><span class="banner-section-text">{{ .Site.Params.homepage.topBannerText }}</span></div>
  </div>
</div>

<section class="text-center">
  <div id="homepage-about" class="container">{{ with .Site.GetPage "page" "homepage/_about" }}{{ .Content | markdownify }}{{ end }}</div>

  <div class="container-fluid no-gutter">
    <div id="ea-network-banner" class="row banner-section" style="background-image:url('{{ .Site.BaseURL}}/img/bottom-banner.jpg')">
      <div class="all-center"><span class="banner-section-text">{{ .Site.Params.homepage.bottomBannerText }}</span></div>
    </div>
  </div>
</section>


{{ partial "footer.html" . }}
