{{ partial "header.html" . }}
{{/* partial "debug.html" . */}}
{{ partial "jumbotron.html" . }}

<div class="container">
  <div id="homepage-news" class="text-center">{{ with .Site.GetPage "page" "homepage/_news" }}{{ .Content | markdownify }}{{ end }}</div>
</div>

<div class="container-fluid no-gutter">
  <div id="top-banner" class="row banner-section" style="background-image:url('{{ .Site.BaseURL}}/img/top-banner.jpg')">
    <div class="all-center"><span class="banner-section-text">{{ .Site.Params.homepage.topBannerText }}</span></div>
  </div>
</div>

<div class="container">
  <div id="homepage-about" class="text-left">{{ with .Site.GetPage "page" "homepage/_about" }}{{ .Content | markdownify }}{{ end }}</div>
</div>

<div class="container-fluid no-gutter">
  <div id="ea-network-banner" class="row banner-section" style="background-image:url('{{ .Site.BaseURL}}/img/bottom-banner.jpg')">
    <div class="all-center"><span class="banner-section-text">{{ .Site.Params.homepage.bottomBannerText }}</span></div>
  </div>
</div>

<div class="container">
  <div id="homepage-contribute" class="text-center">{{ with .Site.GetPage "page" "homepage/_contribute" }}{{ .Content | markdownify }}{{ end }}</div>
</div>


{{ partial "footer.html" . }}
